.nombre {
  padding-bottom: 15%;
  padding-left: 3%;
  

    a{
      font-weight: bold;
      text-decoration:none;
        font-size: 150px;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        color: #0000e0;
       
    }

}