.navbar{
    display:flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;

   
  
 
}
button{
    
    color: blanchedalmond;
    background: rgba(0, 0, 0, 0);
    font-size: 30px;
    margin-top: 2px;
    border: none;
    font-family:sans-serif;
}

