.footer{
  
    text-align: center;
    
    align-self: flex-end;
    display:flex;
    flex-wrap: wrap; 
    width:100%;
    
    display:flex;
    
    justify-content:center;
    align-items: center;
    .git{
        text-decoration:none;
        color: #3e5763;
        font-size: 30px;
        font-family: sans-serif;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding-right: 15px;
       
    }
    
    
    
    .linkedin{
        text-decoration:none;
        color: #3e5763;
        font-size: 30px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    

}
    
   
