.experience{
   
    padding-bottom: .7em;
    padding-left: 5%;

    p{
        font-size: 1.3em;
        padding: 0;
        margin: 0;
        padding-bottom: .2em;
        color:#3e5763;
        span{
            color:blue;
        }
    }
}