.fecha{

    padding-top: 20%;
    padding-right: 3%;


    .fechaboton{
        font-weight: bold;
        font-size: 50px;
        writing-mode: vertical-lr;
        transform: rotate(-90deg);
        color: #0000e0;
       
    }
}


